/*通用类*/
* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 1400px;
	margin: 0 auto;
	font-size: 14px;
	background: #fff;
	text-align: justify;
	color: #000;
}

h1,
h2,
h3 {
	font-weight: 500;
}

img {
	border: none;
}

a {
	cursor: pointer;
	color: #000;
	text-decoration: none;
	outline: none;
}

ul {
	list-style-type: none;
}

em {
	font-style: normal;
}

div.clear {
	font: 0px Arial;
	line-height: 0;
	height: 0;
	overflow: hidden;
	clear: both;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

* {
	box-sizing: border-box;
}

/*公用CSS 开始*/
body {
	background-color: antiquewhite;
}

.main {
	width: 1200px;
	margin: 0 auto;
}

.head1 {
	width: 100%;
}

.nav {
	width: 100%;
	height: 80px;
	background-color: #AA83DA;
}

.nav ul li {
	width: 16.6%;
	float: left;
	height: 80px;
}

.nav ul li a {
	display: block;
	line-height: 80px;
	text-align: center;
	color: #FFFFFF;
	font-size: 25px;
}

.nav ul li a:hover {
	color: #000;

}

.banner-1 img {
	width: 100%;
}

.text1 h3 {
	text-align: center;
	font-size: 25px;
	color: blueviolet;
	padding-top: 20px;
}

.renwu1 {
	margin-top: 20px;
	padding-top: 30px;
	background: url(../images/beijing1.jpg)no-repeat;
	background-size: 100%;
}

.renwu2 {
	width: 20%;
	float: left;
}

.renwu2 h3 {
	font-size: 30px;
	text-align: center;
	color: #E9D4F6;
}

.renwu2 img {
	width: 100%;
}

.renwu2 p {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	color: #EDEBF0;
}

.renwu3 {
	width: 60%;
	float: left;
}

.renwu3 img {
	width: 100%;
}

.renwu4 {
	width: 20%;
	float: right;
}

.renwu4 p {
	writing-mode: tb-rl;
	font-size: 23px;
	color: #C5B6DE;
}

.tupian1 {
	margin-top: 30px;
}

.a1 {
	width: 50%;
	float: left;
}

.a1 img {
	width: 100%;
}

.a2 {
	width: 50%;
	float: right;
	background-color: #FFFFFF;
}

.a2 a {
	display: block;
	font-size: 20px;
	line-height: 40px;
	padding: 8px 0;
	padding-left: 30px;
}

.a2 a:hover{color: #A52A2A;}

.xinshang1 {
	margin-top: 20px;
}

.xinshang1 ul li {
	float: left;
	padding: 0 10px;
	width: 25%;
}

.xinshang1 ul li img {
	width: 100%;
	height: 140px;
}

.folt1 {
	width: 100%;
	height: 60px;
	background-color: #E9D4F6;
	margin-top: 15px;
}

.folt1 p {
	text-align: center;
	line-height: 60px;
	font-size: 20px;
}


/*第二页*/
.jianshao1 {
	margin-top: 30px;
}

.jianshao2 {
	width: 60%;
	float: left;
}

.jianshao2 p {
	font-size: 20px;
	line-height: 45px;
}

.jianshao3 {
	width: 40%;
	float: right;
}

.jianshao3 img {
	width: 100%;
}


/*第三页*/

.xinwen1 {
	margin-top: 30px;
}

.xinwen1 p {
	font-size: 20px;
	line-height: 35px;
}

.xinwen img {
	width: 100%;
	height: 600px;
	object-fit: contain;
}


/*第四页*/

.pic1 {
	width: 100%;
}

.pic1 ul li {
	width: 25%;
	float: left;
	padding: 10px;
}

.pic1 ul li img {
	width: 100%;
	height: 310px
}

.pic1 ul li p {
	text-align: center;
	font-size: 16px;
}








.zhuce1 {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	text-align: center;
}

.zhuce1 form {
	width: 300px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.zhuce1 input {
	width: 300px;
	height: 40px;
	margin-top: 20px;
}












.denglu1 {
	width: 100%;
	height: 220px;
	margin: 0 auto;
	text-align: center;
}

.denglu1 form {
	width: 300px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;

}
.denglu1 input {
	width: 300px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;

}